@model BusinessLayer.DTOs.JobOfferDto

@{
    ViewBag.Title = "Job Offer";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skills)
        </dt>
        <dd>
            @string.Join(" | ", Model.Skills.Select(skill => skill.Name))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Office)
        </dt>
        <dd>
            <div class="display-field">
                @Html.DisplayFor(model => model.Office.Address)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Office.City)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Office.Country)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Office.Email)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Office.Phone)
            </div>
        </dd>

        <dt>
            Job applications #
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobApplications.Count)
        </dd>
    </dl>
</div>

<table class="table">
    <tr>
        <th>
            Candidate
        </th>
        <th>
            Education
        </th>
        <th>
            Skills
        </th>
        <th>
            Answers
        </th>
        <th>
            Status
        </th>
        <th>
            Options
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.JobApplications) {
        <tr>
            <td>
                @*@Html.ActionLink(item.JobCandidate.Name, "Index", "RegisteredUsers", new { id = item.JobCandidate.Id }, null)*@
                @Html.DisplayFor(modelItem => item.JobCandidate.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobCandidate.Education)
            </td>
            <td>
                @string.Join(" | ", item.JobOffer.Skills.Select(skill => skill.Name))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Accept", "AcceptApplication", new { id=item.Id }) |
                @Html.ActionLink("Decline", "DeclineApplication", new { id=item.Id })
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Edit", "EditJob", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
