@model IEnumerable<BusinessLayer.DTOs.JobApplicationDto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Job name
        </th>
        <th>
           Job description
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobOffer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobOffer.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Details", "JobApplication", new { id=item.Id })
        </td>
    </tr>
}

</table>
