@model BusinessLayer.DTOs.JobApplicationDto

@{
    ViewBag.Title = "JobApplication";
}

<h2>@Html.DisplayFor(model => model.JobOffer.Name)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Employer
        </dt>
        <dd>
            @Html.ActionLink(Model.JobOffer.Employer.Name, "Details", "Employer", new { id = Model.JobOffer.Employer.Id }, null)
        </dd>

        <dt>
            Description
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobOffer.Description)
        </dd>

        <dt>
            My Education
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobCandidate.Education)
        </dd>
    </dl>


    <table class="table">
        <tr>
            <th>
                Question
            </th>
            <th>
                Answer
            </th>
        </tr>
        @for (int i = 0; i < Model.Answers.Count; i++)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Answers[i].Question.Text)
            </td>
            <td>
                @Html.DisplayFor(model => model.Answers[i].Text, new { htmlAttributes = new { @class = "form-control" } })
            </td>
        </tr>
        }
    </table>
</div>