@model IEnumerable<BusinessLayer.DTOs.JobOfferDto>

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Headline</h2>

<div>
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skills)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Office.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Office.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Office.Country)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", "Jobs", new { id = item.Id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Office.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Office.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Office.Country)
            </td>
        </tr>
    }
        
    </table>
</div>