@model IEnumerable<BusinessLayer.DTOs.JobOfferDto>

@{
    ViewBag.Title = "Index";
}

<h2>My job offers</h2>

<p>
    @Html.ActionLink("Create new job", "CreateJob")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skills)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Office.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Office.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Office.Country)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Skills)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Office.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Office.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Office.Country)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditJob", new { id=item.Id }) |
            @Html.ActionLink("Details", "JobOffer", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteJob", new { id=item.Id })
        </td>
    </tr>
}

</table>
