@model BusinessLayer.DTOs.JobApplicationDto

@{
    ViewBag.Title = "JobApplication";
}

<h2>JobApplication</h2>

<div>
    <h4>JobApplicationDto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobOfferId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobOfferId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobCandidateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobCandidateId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
